 <footer class="bg-gray border-top py-5">
            <div class="container">

                <div class="d-flex justify-content-between">
                    <div>
                        <ul class="d-flex mx-start mb-2 mb-lg-0 " style="list-style-type: none;">
                            <li class="nav-item me-3">
                                <a class="nav-link" href="#">服務方案</a>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link" href="#">關於職旅</a>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link" href="#">聯絡我們</a>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link" href="#">隱私權政策</a>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link" href="#">用戶條款</a>
                            </li>
                        </ul>
                    </div>
                    <div class="text-secondary"><small>Copyright © 2025 職旅 workway. All rights reserved.</small>
                    </div>
                </div>
            </div>

        </footer>