.user-images{
    width: 44px;
    height: 44px;
}

.bg-gray{
    background-color:#f0f3f5 ;
}

.section-padding{
   padding:80px 0 80px 0 ;
}

.rounded-panel{
    border-radius: 24px;
    background-color: #fcfcfd;
    
}

.text-blue{
  color:#4a69e8;

}

.subtitle{
  color:  #667F99;
  font-size: 18px;

}

.flex-shrink-0{
  width: 300px;
}